body
{
    background-image: url(./bkimg.jpg);
    background-size: cover;
    padding-bottom: 10px;
}
label{
    font-weight: 500;
}

a{
    color: whitesmoke;
    font-size: 18px;
}

h3
{
    text-align: center;
}

#display-name{
    font-family: 'Architects Daughter', cursive;
    font-size: 50px;
    color: wheat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flashMsg
{
    background-color: rgb(231, 109, 109);
    border: none;
    color: black;
}

#socialButton
{
    width: 35%;
    height: 7vh;
    display: block;
    margin: auto;
    background-color: rgb(241, 57, 57);
    font-weight: bold;
    border-radius: 20px;
    position: relative;
}

#socialButton i
{
    color: white;
    position: absolute;
    left: 25%;
    top: 30%;
}

#socialButton a
{
    text-decoration: none;
    color: white;
}

#sign
{
    margin: 10px 0px;
    font-weight: bold;
}
.red{
    border-color: rgb(243, 75, 75);
    outline: 0;
    -webkit-box-shadow: inset 0 5px 5px rgba(202, 20, 20, 0.075), 0 0 10px rgba(207, 22, 22, 0.6);
    box-shadow: inset 0 5px 5px rgba(202, 20, 20,.075), 0 0 10px rgba(207, 22, 22, .6);
}
.error
{
    color: red;
}
#form{
    /* background-color:rgb(75, 150, 200, .6); */
    background-color: rgb(161, 161, 161, .3);
    /* opacity: .7; */
    box-shadow: inset 0 0 0 , 0 0 4px rgb(129, 170, 247);
    width: 35%;
    margin: auto;
    padding: 10px 5px;
    margin-top: 4%;
    margin-bottom: 1%;
}
.custom-btn{
    display: block;
    width: 30%;
    margin: auto;
    background-color: #ededed;
  border: 1px solid #ccc;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  color: black;
}
.custom-btn:hover{
    background-color: #e6e3e3;
}
.custom-btn:active {
    background-color: rgb(158, 157, 157);
    transform: translateY(2px);
}

.fa-1x {
    font-size: 1.5rem;
}
.navbar-toggler.toggler-example {
    cursor: pointer;
}
.dark-blue-text {
    color: #4155a3;
}
.dark-pink-text {
    color: #AC003A;
}
.dark-amber-text {
    color: #ff6f00;
}
.dark-teal-text {
    color: #004d40;
}